a#link1:link {
	color: green;
	background-color: transparent;
	text-decoration: none;
}
a#link2.pink-when-visited:visited {
	color: pink;
	background-color: transparent;
	text-decoration: none;
}
a.link-hover-font-size:hover{
	font-size: 150%;
}
a.link-hover-red-color:hover {
	color: red;
	background-color: transparent;
	text-decoration: underline;
}
a:active {
	color: yellow;
	background-color: transparent;
	text-decoration: none;
}
div {
	background-color: yellow;
	padding: 20px;
	display: none;
}
span:hover + div {
	display: block;
}